.page-header{
    font-size: 20px;
    padding-bottom: 9px;
    margin: 10px 20px 20px;
    border-bottom: 1px solid #eee;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    margin-right: 20px;
    margin-bottom: 10px;
}

.gallery-image {
    max-width: 100px;
}

.delete-image {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
